[Unit]
Description=Helix Core Server (p4d)
After=network.target syno-volume.target

[Service]
EnvironmentFile=/var/packages/HelixCoreServer/var/p4d.env
Type=forking
Slice=HelixCoreServer.slice
PIDFile=/var/packages/HelixCoreServer/tmp/p4d.pid
ExecStart=/var/packages/HelixCoreServer/target/usr/local/bin/p4d -r $P4ROOT -p $P4PORT -C $P4CASE --pid-file=/var/packages/HelixCoreServer/tmp/p4d.pid -d
Restart=on-abnormal
RestartSec=3s