on:
  workflow_call:
    inputs:
      P4D_VERSION:
        required: true
        type: string
      DSM_VERSION:
        required: true
        type: string
      SPK_PLATFORM:
          required: true
          type: string
      SPK_ARCH:
        required: true
        type: string
      PackageBuildNumber:
        required: false
        type: number
        default: ${{ fromJSON(github.run_number) }}

jobs:
  build:
    name: Build Package P4D=${{ inputs.P4D_VERSION }} Platform=${{ inputs.SPK_PLATFORM }} DSM=${{ inputs.DSM_VERSION }} Arch=${{ inputs.SPK_ARCH }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Restore SDK cache
        uses: actions/cache/restore@v4
        with:
          path: toolkit_tarballs/
          key: synotoolkit-${{ inputs.SPK_PLATFORM }}-${{ inputs.DSM_VERSION }}
          fail-on-cache-miss: true

      - name: Copy Toolkit Tarballs
        run: |
          sudo mkdir -p /toolkit/
          sudo mv toolkit_tarballs/ /toolkit/

      - id: setup_toolchain
        name: Setup Toolchain
        run: |
          sudo -E ./.ci/setup-toolchain.sh
        env:
          DSM_VERSION: ${{ inputs.DSM_VERSION }}
          SPK_PLATFORM: ${{ inputs.SPK_PLATFORM }}

      - id: build_package
        name: Build Package
        run: |
          sudo -E ./.ci/build-package.sh
        env:
          DSM_VERSION: ${{ inputs.DSM_VERSION }}
          SPK_PLATFORM: ${{ inputs.SPK_PLATFORM }}
          SPK_ARCH: ${{ inputs.SPK_ARCH }}
          P4D_VERSION: ${{ inputs.P4D_VERSION }}
          SPK_BETA: ${{ github.event_name != 'release' || (github.event_name == 'release' && github.event.release.prerelease) }}
          SPK_PACKAGE_BUILD_NUMBER: "${{ inputs.PackageBuildNumber }}"

      - name: Rename artifact
        run: |
          cp \
            /toolkit/result_spk/HelixCoreServer-${{ steps.build_package.outputs.package_version }}/HelixCoreServer-${{ inputs.SPK_ARCH }}-${{ steps.build_package.outputs.package_version }}.spk \
            ${{ runner.temp }}/HelixCoreServer-${{ steps.build_package.outputs.package_version }}-${{ inputs.SPK_ARCH }}-${{ inputs.DSM_VERSION }}.spk

      - id: upload_package
        name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: HelixCoreServer-${{ steps.build_package.outputs.package_version }}-${{ inputs.SPK_ARCH }}-${{ inputs.DSM_VERSION }}
          path: ${{ runner.temp }}/HelixCoreServer-${{ steps.build_package.outputs.package_version }}-${{ inputs.SPK_ARCH }}-${{ inputs.DSM_VERSION }}.spk
          if-no-files-found: error
