name: Build & Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  prepare-toolkit:
    name: Prepare Toolkit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        DSM_VERSION: ["7.1", "7.2"]
        include:
          - SPK_PLATFORM: braswell
            SPK_ARCH: x86_64
    env:
      TAR_DIR: "toolkit_tarballs/"
    steps:
      - uses: actions/checkout@v4

      - name: Check SDK cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TAR_DIR }}
          key: synotoolkit-${{ matrix.SPK_PLATFORM }}-${{ matrix.DSM_VERSION }}
          lookup-only: true

      - name: Download & extract SDKs
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo mkdir -p "${TAR_DIR}"
          sudo curl -fL --retry 2 --retry-all-errors --retry-delay 10 --output-dir "${TAR_DIR}" -O "https://global.synologydownload.com/download/ToolChain/toolkit/${{ matrix.DSM_VERSION }}/base/base_env-${{ matrix.DSM_VERSION }}.txz"
          sudo curl -fL --retry 2 --retry-all-errors --retry-delay 10 --output-dir "${TAR_DIR}" -O "https://global.synologydownload.com/download/ToolChain/toolkit/${{ matrix.DSM_VERSION }}/${{ matrix.SPK_PLATFORM }}/ds.${{ matrix.SPK_PLATFORM }}-${{ matrix.DSM_VERSION }}.dev.txz"
          sudo curl -fL --retry 2 --retry-all-errors --retry-delay 10 --output-dir "${TAR_DIR}" -O "https://global.synologydownload.com/download/ToolChain/toolkit/${{ matrix.DSM_VERSION }}/${{ matrix.SPK_PLATFORM }}/ds.${{ matrix.SPK_PLATFORM }}-${{ matrix.DSM_VERSION }}.env.txz"

  build:
    name: Build Package
    needs: prepare-toolkit
    strategy:
      fail-fast: false
      matrix:
        P4D_VERSION: ["23.1", "23.2", "24.1", "24.2", "25.1", "25.2"]
        DSM_VERSION: ["7.1", "7.2"]
        include:
          - SPK_PLATFORM: braswell
            SPK_ARCH: x86_64
    uses: ./.github/workflows/build-package.yml
    with:
      P4D_VERSION: ${{ matrix.P4D_VERSION }}
      DSM_VERSION: ${{ matrix.DSM_VERSION }}
      SPK_PLATFORM: ${{ matrix.SPK_PLATFORM }}
      SPK_ARCH: ${{ matrix.SPK_ARCH }}

  release:
    name: Upload Packages in Github Release
    needs: build
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: packages

      - name: Upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            packages/HelixCoreServer-*/HelixCoreServer-*.spk
